[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"

[dev-packages]
pytest = "*"
"pytest-pep8" = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
